temp/*
*.cnf
.idea/*
notebooks/*

*.bak
*.log
*.mtx
*.out
*.err
*.tgz
*.crt
*.key
*~
*.pyc
*.ipynb_checkpoints

*#*#



# local
db/*
live_config_files/*
prototyping/*
cohd/cohd_flask_with_GA_TID.conf
cohd/flask_cache
cohd/trapi/*.ipynb
database.cnf
flask_cache
