numpy
scipy
requests
uwsgi
flask
flask_cors
flask-caching
pymysql
semantic_version
apscheduler
bmt
reasoner-validator>=4.0
linkml-runtime
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-pymysql