numpy
scipy
requests
uwsgi
flask
flask_cors
flask-caching
pymysql
semantic_version
apscheduler
bmt
reasoner-validator>=3.8
linkml-runtime<1.6.0
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-requests