openapi: 3.0.1
info:
  description: |
    The Columbia Open Health Data (COHD) for COVID-19 Research API provides access to counts and frequencies (i.e., EHR visit prevalence) of conditions, procedures, drug exposures, and the co-occurrence frequencies between them for a cohort of hospitalized COVID-19 patients and two comparator cohorts of hospitalized influenza patients and hospitalized patients. Count and frequency data were derived from the [Columbia University Medical Center's](http://www.cumc.columbia.edu/) [OHDSI](https://www.ohdsi.org/) database including inpatient. Counts are the number of inpatient visits associated with the concept, e.g., diagnosed with a condition, exposed to a drug, or a procedure was performed. Frequencies are the number of unique visits associated with the concept divided by the total number of visits in the dataset, i.e., prevalence in the electronic health records. To protect patient privacy, all concepts and pairs of concepts where the count <= 10 were excluded, and counts were randomized by the Poisson distribution.         
    
    Datasets from three primary cohorts are available: 
    1) COVID-19: Hospitalized patients aged 18 or older with a COVID-19 related condition diagnosis and/or a confirmed positive COVID-19 test during their hospitalization period or within the prior 21 days. Date range: March 1, 2020 to September 1, 2020. This cohort is also further stratified by sex (male and female) and age (adult: 18-64, senior: 65+).
    2) General inpatient: All hospitalized patients aged 18 or older. Date range: January 1, 2014 to December 31, 2019.
    3) Influenza: Hospitalized patients aged 18 or older who had at least one occurrence of influenza conditions or pre-coordinated positive measurements or positive influenza testing in the prior 21 days or during their hospitalization period. Date range: January 1, 2014 to December 31, 2019.
    
    Both hierarchical and non-hierarchical datasets are available for each cohort. In the hierarchical datasets, the counts for each concept include the visits from all descendant concepts. For example, the count for ibuprofen (ID 1177480) includes visits with Ibuprofen 600 MG Oral Tablet (ID 19019073), Ibuprofen 400 MG Oral Tablet (ID 19019072), Ibuprofen 20 MG/ML Oral Suspension (ID 19019050), etc. 
    
    Clinical concepts (e.g., conditions, procedures, drugs) are coded by their standard concept ID in the [OMOP Common Data Model](https://github.com/OHDSI/CommonDataModel/wiki). API methods are provided to map to/from other vocabularies supported in OMOP and other ontologies using the EMBL-EBI Ontology Xref Service (OxO). 


    The following resources are available through this API: 


    1. Metadata: Metadata on the COHD database, including dataset descriptions, number of concepts, etc. 


    2. OMOP: Access to the common vocabulary for name and concept identifier mapping


    3. Clinical Frequencies: Access to the counts and frequencies of conditions, procedures, and drug exposures, and the associations between them. Frequency was determined as the number of visits with the code(s) / total number of visits. 


    4. Concept Associations: Inferred associations between concepts using chi-square analysis, ratio between observed to expected frequency, and relative frequency. 
    
    
    A [Python notebook](https://github.com/WengLab-InformaticsResearch/cohd_api/blob/master/notebooks/COHD_API_Example.ipynb) demonstrates simple examples of how to use the COHD API.


    COHD was developed at the [Columbia University Department of Biomedical Informatics](https://www.dbmi.columbia.edu/) as a collaboration between the [Weng Lab](http://people.dbmi.columbia.edu/~chw7007/), [Tatonetti Lab](http://tatonettilab.org/), and the [NCATS Biomedical Data Translator](https://ncats.nih.gov/translator) program (TReK Team). This work was supported in part by grants: NCATS 1OT2TR003434, NLM R01LM012895, NCATS OT3TR002027, NLM R01LM009886-08A1, and NIGMS R01GM107145.
    
    The following external resources may be useful:  
    [OHDSI](https://www.ohdsi.org/)  
    [OMOP Common Data Model](https://github.com/OHDSI/CommonDataModel/wiki)  
    [Athena](http://athena.ohdsi.org) (OMOP vocabularies, search, concept relationships, concept hierarchy)  
    [Atlas](http://www.ohdsi.org/web/atlas/) (OMOP vocabularies, search, concept relationships, concept hierarchy, concept sets)
  version: 5.1.0
  title: Columbia Open Health Data (COHD) for COVID-19 Research API
  contact:
    name: Casey Ta
    email: ct2865@cumc.columbia.edu
    x-role: responsible developer
    url: 'http://chunhualab.org/'
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: 'http://cohd.nsides.io/terms/'
  x-accessRestriction: none
  x-implementationLanguage: Python
servers:
  - url: 'https://covid.cohd.io/api'
    description: COHD-COVID production server
tags:
  - name: Metadata
    description: COHD metadata
  - name: OMOP
    description: OMOP Common Data Model concepts
  - name: Clinical Frequencies
    description: Clinical frequency data
  - name: Concept Associations
    description: Estimated association between concepts
x-externalResources:
  - x-url: 'https://www.dbmi.columbia.edu/'
    x-type: website
    x-description: "Department of Biomedical Informatics, Columbia University"
  - x-url: 'https://www.ohdsi.org/'
    x-type: website
    x-description: "Observational Health Data Sciences and Informatics"
  - x-url: 'https://github.com/OHDSI/CommonDataModel/wiki'
    x-type: website
    x-description: "OMOP CDM"
paths:
  /metadata/datasets:
    get:
      tags:
        - Metadata
      summary: Enumerates the datasets available in COHD
      description: 'Returns a list of datasets, including dataset ID, name, and description.'
      operationId: datasets
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of dataset descriptions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        dataset_name:
                          type: string
                          example: 'COVID Cohort (non-hierarchical)'
                        dataset_id:
                          type: integer
                          example: 1
                        dataset_description:
                          type: string
                          example: 'Hospitalized patients with a COVID-19 condition and/or positive lab test (non-hierarchical)'
  /metadata/domainCounts:
    get:
      tags:
        - Metadata
      summary: The number of concepts in each domain
      description: Returns a list of domains and the number of concepts in each domain.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
      operationId: domainCounts
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of domain counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        dataset_id:
                          type: integer
                          example: 1
                        domain_id:
                          type: string
                          example: 'Condition'
                        count:
                          type: integer
                          example: 1000
  /metadata/domainPairCounts:
    get:
      tags:
        - Metadata
      summary: The number of pairs of concepts in each pair of domains
      description: >-
        Returns a list of pairs of domains and the number of pairs of concepts in each.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
      operationId: domainPairCounts
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of domain pair counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        dataset_id:
                          type: integer
                          example: 1
                        domain_id_1:
                          type: string
                          example: 'Condition'
                        domain_id_2:
                          type: string
                          example: 'Drug'
                        count:
                          type: integer
                          example: 1000
  /metadata/visitCount:
    get:
      tags:
        - Metadata
      summary: The number of visits in the dataset
      description: Returns the number of visits in the dataset.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query.
          example: 1
      operationId: visitCount
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of visit counts.
          content: 
            application/json: 
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        dataset_id:
                          type: integer
                          example: 1
                        count:
                          type: integer
                          example: 100000
  /omop/concepts:
    get:
      tags:
        - OMOP
      summary: Concept definitions from concept ID
      description: >-
        Returns the OMOP concept names and domains for the given list of concept IDs.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: >-
            A comma separated list of OMOP concept ids, e.g., "192855" or "192855,2008271"
          example: '192855,2008271'
      operationId: concepts
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_id:
                          type: integer
                          example: 192855
                        concept_name:
                          type: string
                          example: "Cancer in situ of urinary bladder"
                        domain_id:
                          type: string
                          example: "Condition"
                        vocabulary_id:
                          type: string
                          example: "SNOMED"
                        concept_class_id:
                          type: string
                          example: "Clinical Finding"
                        concept_code:
                          type: string
                          example: "92546004"
  /omop/findConceptIDs:
    get:
      tags:
        - OMOP
      summary: Search for OMOP concepts by name and domain
      description: >-
        Searches the OMOP concept table for concept names similar to the query. Returns a list of concepts, including their names and IDs, sorted in decreasing order by the concept's prevalence.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: 'The name of the concept to search for, e.g., "cancer" or "ibuprofen"'
          example: cancer
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: 'The dataset to reference when sorting concepts by their frequency. Default: 5-year dataset.'
          example: 1
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: 'The domain (e.g., "Condition", "Drug", "Procedure") to restrict the search to. If not specified, the search will be unrestricted. See /metadata/domainCounts for a list of valid domain IDs.'
          example: 'Condition'
        - name: min_count
          in: query
          required: false
          schema:
            type: integer
          description: 'The minimum concept count (inclusive) to include a concept in the search results. Setting the min_count to 0 will cause findConceptIDs to return all matching standard OMOP concepts (this can be slow). Setting the min_count to 1 will cause findConceptIDs to only return concepts with count data (much faster). Default: 1.'
          example: 1
      operationId: findConceptIDs
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_class_id:
                          type: string
                          example: "Clinical Finding"
                        concept_code:
                          type: string
                          example: "92546004"
                        concept_count:
                          type: integer
                          example: 368
                        concept_id:
                          type: integer
                          example: 192855
                        concept_name:
                          type: string
                          example: "Cancer in situ of urinary bladder"
                        domain_id:
                          type: string
                          example: "Condition"
                        vocabulary_id:
                          type: string
                          example: "SNOMED"
  /omop/conceptAncestors:
    get:
      tags:
        - OMOP
      summary: Retrieve the concept's hierarchical ancestors
      description: >-
        Retrieves the given concept's hierarchical ancestors and their counts. The hierarchical definitions were derived from the OMOP concept_ancestor table. For more information, see the documentation on OMOP's concept_ancestor table on [ohdsi.org](http://www.ohdsi.org/web/wiki/doku.php?id=documentation:cdm:concept_ancestor) and [GitHub](https://github.com/OHDSI/CommonDataModel/wiki/CONCEPT_ANCESTOR).
      parameters:
        - name: concept_id
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept ID, e.g., 19019073'
          example: 19019073
        - name: vocabulary_id
          in: query
          required: false
          schema:
            type: string
          description: 'The vocabulary_id to restrict ancestors to. For conditions, SNOMED and MedDRA are used. For drugs, RxNorm (only and ATC are used. For procedures, SNOMED, MedDRA, and ICD10PCS are used. Default: unrestricted'
          example: 'RxNorm'
        - name: concept_class_id
          in: query
          required: false
          schema:
            type: string
          description: 'The concept_class_id to restrict ancestors to. Only certain hierarchical concept_class_ids are used in each vocabuarly: [ATC](https://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System) {ATC 1st, ATC 2nd, ATC 3rd, ATC 4th, ATC 5th}; [MedDRA](https://en.wikipedia.org/wiki/MedDRA) {PT, HLT, HLGT, SOC}; [RxNorm](https://www.nlm.nih.gov/research/umls/rxnorm/docs/2015/appendix5.html) {Ingredient, Clinical Drug Form, Clinical Drug Comp, Clinical Drug}. Default: unrestricted'
          example: 'Ingredient'
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: 'The dataset_id to retrieve counts from. Default: 3 (5-year hierarchical data set)'
          example: 3
      operationId: conceptAncestors
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ancestor_concept_id:
                          type: integer
                          example: 1177480
                        concept_class_id:
                          type: string
                          example: "Ingredient"
                        concept_code:
                          type: string
                          example: "5640"
                        concept_count:
                          type: integer
                          example: 233514
                        concept_name:
                          type: string
                          example: "Ibuprofen"
                        domain_id:
                          type: string
                          example: "Drug"
                        max_levels_of_separation:
                          type: integer
                          example: 2
                        min_levels_of_separation:
                          type: integer
                          example: 2
                        standard_concept:
                          type: string
                          example: "S"
                        vocabulary_id:
                          type: string
                          example: "RxNorm"
  /omop/conceptDescendants:
    get:
      tags:
        - OMOP
      summary: Retrieve the concept's hierarchical descendants
      description: >-
        Retrieves the given concept's hierarchical descendants and their counts. The hierarchical definitions were derived from the OMOP concept_ancestor table. See the documentation on OMOP's concept_ancestor table on [ohdsi.org](http://www.ohdsi.org/web/wiki/doku.php?id=documentation:cdm:concept_ancestor) and [GitHub](https://github.com/OHDSI/CommonDataModel/wiki/CONCEPT_ANCESTOR).
      parameters:
        - name: concept_id
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept ID, e.g., 313217'
          example: 313217
        - name: vocabulary_id
          in: query
          required: false
          schema:
            type: string
          description: 'The vocabulary_id to restrict ancestors to. For conditions, SNOMED and MedDRA are used. For drugs, RxNorm and ATC are used. For procedures, SNOMED, MedDRA, and ICD10PCS are used. Default: unrestricted'
          example:
        - name: concept_class_id
          in: query
          required: false
          schema:
            type: string
          description: 'The concept_class_id to restrict ancestors to. Only certain hierarchical concept_class_ids are used in each vocabuarly: [ATC](https://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System) {ATC 1st, ATC 2nd, ATC 3rd, ATC 4th, ATC 5th}; [MedDRA](https://en.wikipedia.org/wiki/MedDRA) {PT, HLT, HLGT, SOC}; [RxNorm](https://www.nlm.nih.gov/research/umls/rxnorm/docs/2015/appendix5.html) {Ingredient, Clinical Drug Form, Clinical Drug Comp, Clinical Drug}. Default: unrestricted'
          example:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: 'The dataset_id to retrieve counts from. Default: 3 (5-year hierarchical data set)'
          example: 3
      operationId: conceptDescendants
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_class_id:
                          type: string
                          example: "Clinical Finding"
                        concept_code:
                          type: string
                          example: "49436004"
                        concept_count:
                          type: integer
                          example: 53272
                        concept_name:
                          type: string
                          example: "Atrial fibrillation"
                        descendant_concept_id:
                          type: integer
                          example: 313217
                        domain_id:
                          type: string
                          example: "Condition"
                        max_levels_of_separation:
                          type: integer
                          example: 0
                        min_levels_of_separation:
                          type: integer
                          example: 0
                        standard_concept:
                          type: string
                          example: "S"
                        vocabulary_id:
                          type: string
                          example: "SNOMED"
  /omop/mapToStandardConceptID:
    get:
      tags:
        - OMOP
      summary: Map from a non-standard concept code to a standard OMOP concept ID
      description: >-
        Uses the OMOP concept_relationship table to map from a non-standard concept code (e.g., ICD9CM 715.3) to a standard OMOP concept ID (e.g., 72990). This method may return multiple results if vocabulary_id is not specified and the concept_code is not unique across vocabularies. If both concept_code and vocabulary_id are specified, then 1 result will be returned at most.
      parameters:
        - name: concept_code
          in: query
          required: true
          schema:
            type: string
          description: 'The concept code to map from, e.g., 715.3'
          example: '715.3'
        - name: vocabulary_id
          in: query
          required: false
          schema:
            type: string
          description: >-
            The vocabulary (e.g., "ICD9CM") that the concept code belongs to. If this parameter is not specified, the method will return mappings from any source vocabulary with matching concept code. See /omop/vocabularies for the list of supported vocabularies.
          example: ICD9CM
      operationId: mapToStandardConceptID
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        source_concept_code:
                          type: string
                          example: "715.3"
                        source_concept_id:
                          type: integer
                          example: 44834979
                        source_concept_name:
                          type: string
                          example: "Osteoarthrosis, localized, not specified whether primary or secondary"
                        source_vocabulary_id:
                          type: string
                          example: "ICD9CM"
                        standard_concept_id:
                          type: integer
                          example: 72990
                        standard_concept_name:
                          type: string
                          example: "Localized osteoarthrosis uncertain if primary OR secondary"
                        standard_domain_id:
                          type: string
                          example: "Condition"
  /omop/mapFromStandardConceptID:
    get:
      tags:
        - OMOP
      summary: >-
        Map from a standard concept ID to concept code(s) in an external vocabulary
      description: >-
        Uses the OMOP concept_relationship table to map from a standard concept ID (e.g., 72990) to concept code(s) (e.g., ICD9CM 715.3, 715.31, 715.32, etc.). An OMOP standard concept ID may map to many concepts in the external vocabulary.
      parameters:
        - name: concept_id
          in: query
          required: true
          schema:
            type: integer
          description: 'The standard OMOP concept id to map from, e.g., 72990'
          example: 72990
        - name: vocabulary_id
          in: query
          required: false
          schema:
            type: string
          description: >-
            The vocabulary (e.g., "ICD9CM") to map to. If this parameter is not specified, the method will return mappings to any matching vocabularies. See /omop/vocabularies for the list of supported vocabularies.
          example: ICD9CM
      operationId: mapFromStandardConceptID
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_class_id:
                          type: string
                          example: "4-dig nonbill code"
                        concept_code:
                          type: string
                          example: "715.3"
                        concept_id:
                          type: integer
                          example: 44834979
                        concept_name:
                          type: string
                          example: "Osteoarthrosis, localized, not specified whether primary or secondary"
                        domain_id:
                          type: string
                          example: "Condition"
                        standard_concept:
                          type: string
                          example: null
                        vocabulary_id:
                          type: string
                          example: "ICD9CM"
  /omop/vocabularies:
    get:
      tags:
        - OMOP
      summary: List of vocabularies
      description: >-
        List of vocabulary_ids. Useful if you need to use /omop/mapToStandardConceptID to map a concept code from a source vocabulary to the OMOP standard vocabulary.
      operationId: vocabularies
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of vocabularies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        vocabulary_id:
                          type: string
                          example: "SNOMED"
  /omop/xrefToOMOP:
    get:
      deprecated: true
      tags:
        - OMOP
      summary: Cross-reference from an ontology to OMOP standard concepts using the Ontology Xref Service
      description: >-
        This endpoint has been deprecated. COHD is now using Translator SRI services to map from OMOP to Biolink model. 
        Also, the OxO API has been producing internal server errors in some circumstances for several months. This 
        endpoint is currently still available but may not function correctly.  
          
        Attempts to map a concept from an external ontology to an OMOP standard concept ID using the EMBL-EBI Ontology Xref Service (OxO): https://www.ebi.ac.uk/spot/oxo/index. This method attempts to use OxO to map from the original ontology to an intermediate ontology that is included in OMOP (ICD9CM, ICD10CM, SNOMEDCT, and MeSH), then uses the OMOP mappings to the standard concepts. Multiple mappings may be returned. Results are sorted by total_distance (OxO distance + OMOP distance) in ascending order.
      parameters:
        - name: curie
          in: query
          required: true
          schema:
            type: string
          description: 'Compact URI (CURIE) of the concept to map, e.g., DOID:8398'
          example: 'DOID:8398'
        - name: distance
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Mapping distance for OxO. Note: this is the distance used in the OxO API to map from the original concept to an ICD9CM, ICD10CM, SNOMEDCT, or MeSH concept. One additional step may be taken by the COHD API to map to the OMOP standard concept. Default: 2.
          example: 2
        - name: local
          in: query
          required: false
          schema:
            type: boolean
          description: >-
            COHD can either call the OxO API or use the local implementation of OxO. The full call to the OxO API will have the most updated mappings and term definitions, but is slower. The local implementation of OxO is faster but may contain outdated mappings and term definitions. If the parameter is false, COHD will call the full OxO API. If the parameter is true, COHD will use the local implementation.  Default: false.
          example: false
        - name: recommend
          in: query
          required: false
          schema:
            type: boolean
          description: >-
            By default (false), COHD returns all mappings found. If true, COHD will recommend a mapping based on path distances. Default: false.
          example: false
      operationId: xrefToOMOP
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of mappings from external concepts to OMOP concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        intermediate_oxo_id:
                          type: string
                          example: "ICD9CM:715.3"
                        intermediate_oxo_label:
                          type: string
                          example: ""
                        omop_concept_name:
                          type: string
                          example: "Localized osteoarthrosis uncertain if primary OR secondary"
                        omop_distance:
                          type: integer
                          example: 1
                        omop_domain_id:
                          type: string
                          example: "Condition"
                        omop_standard_concept_id:
                          type: integer
                          example: 72990
                        oxo_distance:
                          type: integer
                          example: 1
                        source_oxo_id:
                          type: string
                          example: "DOID:8398"
                        source_oxo_label:
                          type: string
                          example: "osteoarthritis"
                        total_distance:
                          type: integer
                          example: 2
  /omop/xrefFromOMOP:
    get:
      deprecated: true
      tags:
        - OMOP
      summary: Cross-reference from an ontology to OMOP standard concepts using the Ontology Xref Service
      description: >-
        This endpoint has been deprecated. COHD is now using Translator SRI services to map from OMOP to Biolink model. 
        Also, the OxO API has been producing internal server errors in some circumstances for several months. This 
        endpoint is currently still available but may not function correctly.  
          
        Attempts to map a concept from an external ontology to an OMOP standard concept ID using the EMBL-EBI Ontology Xref Service (OxO): https://www.ebi.ac.uk/spot/oxo/index. This method maps from the OMOP standard concept to an intermediate vocabulary included is OxO (ICD9CM, ICD10CM, SNOMEDCT, and MeSH), then uses the OxO API to map to other ontologies. Multiple mappings may be returned. Results are sorted by total_distance (OxO distance + OMOP distance) in ascending order.
      parameters:
        - name: concept_id
          in: query
          required: true
          schema:
            type: integer
          description: 'OMOP standard concept_id to map, e.g., 192855'
          example: 192855
        - name: mapping_targets
          in: query
          required: false
          schema:
            type: string
          description: 'Target ontologies for OxO. Comma separated target prefixes, e.g., "DOID,UMLS"'
          example: 'UMLS'
        - name: distance
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Mapping distance for OxO. Note: this is the distance used in the OxO API to map from an ICD9CM, ICD10CM, SNOMEDCT, or MeSH concept to the desired ontology. One additional step may be taken by the COHD API to map to the OMOP standard concept to ICD9CM, ICD10CM, SNOMEDCT, or
            MeSH. Default: 2.
          example: 2
        - name: local
          in: query
          required: false
          schema:
            type: boolean
          description: >-
            COHD can either call the OxO API or use the local implementation of OxO. The full call to the OxO API will have the most updated mappings and term definitions, but is slower. The local implementation of OxO is faster but may contain outdated mappings and term definitions. If the parameter is false, COHD will call the full OxO API. If the parameter is true, COHD will use the local implementation.  Default: false.
          example: false
        - name: recommend
          in: query
          required: false
          schema:
            type: boolean
          description: >-
            By default (false), COHD returns all mappings found. If true, COHD will recommend a mapping for each target based on path distances. Default: false.
          example: false
      operationId: xrefFromOMOP
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of mappings from OMOP concepts to external concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        intermediate_omop_concept_code:
                          type: string
                          example: "92546004"
                        intermediate_omop_concept_id:
                          type: integer
                          example: 192855
                        intermediate_omop_concept_name:
                          type: string
                          example: "Cancer in situ of urinary bladder"
                        intermediate_omop_vocabulary_id:
                          type: string
                          example: "SNOMED"
                        intermediate_oxo_curie:
                          type: string
                          example: "SNOMEDCT:92546004"
                        intermediate_oxo_label:
                          type: string
                          example: "Cancer in situ of urinary bladder"
                        omop_distance:
                          type: integer
                          example: 0
                        oxo_distance:
                          type: integer
                          example: 1
                        source_omop_concept_code:
                          type: string
                          example: "92546004"
                        source_omop_concept_id:
                          type: integer
                          example: 192855
                        source_omop_concept_name:
                          type: string
                          example: "Cancer in situ of urinary bladder"
                        source_omop_vocabulary_id:
                          type: string
                          example: "SNOMED"
                        target_curie:
                          type: string
                          example: "UMLS:C0154091"
                        target_label:
                          type: string
                          example: "Cancer in situ of urinary bladder"
                        total_distance:
                          type: integer
                          example: 1
  /frequencies/singleConceptFreq:
    get:
      tags:
        - Clinical Frequencies
      summary: Clinical frequency of individual concepts
      description: >-
        Retrieves observed clinical frequencies of individual concepts. Multiple concepts may be requested in a comma separated list.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: >-
            A comma separated list of OMOP concept ids, e.g., "192855" or "192855,2008271"
          example: '192855'
      operationId: singleConceptFreq
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of single concept frequencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_count:
                          type: integer
                          example: 368
                        concept_frequency:
                          type: integer
                          example: 0.0002055371025188907
                        concept_id:
                          type: integer
                          example: 192855
                        dataset_id:
                          type: integer
                          example: 1
  /frequencies/pairedConceptFreq:
    get:
      tags:
        - Clinical Frequencies
      summary: Clinical frequency of a pair of concepts
      description: Retrieves observed clinical frequencies of a pair of concepts.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: 'A comma pair of OMOP concept ids, e.g., "192855,2008271"'
          example: '192855,2008271'
      operationId: pairedConceptFreq
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of paired concept frequencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_count:
                          type: integer
                          example: 10
                        concept_frequency:
                          type: integer
                          example: 0.000005585247351056813
                        concept_id_1:
                          type: integer
                          example: 192855
                        concept_id_2:
                          type: integer
                          example: 2008271
                        dataset_id:
                          type: integer
                          example: 1
  /frequencies/associatedConceptFreq:
    get:
      tags:
        - Clinical Frequencies
      summary: Clinical frequencies of all pairs of concepts given a concept id
      description: >-
        Retrieves observed clinical frequencies of all pairs of concepts given a concept id. Results are returned in descending order of paired concept count. Note that the largest paired concept counts are often dominated by associated concepts with high prevalence.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: q
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
      operationId: associatedConceptFreq
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of associated concept frequencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        associated_concept_id:
                          type: integer
                          example: 19041324
                        associated_concept_name:
                          type: string
                          example: "Acetaminophen 325 MG Oral Tablet [Tylenol]"
                        associated_domain_id:
                          type: string
                          example: "Drug"
                        concept_count:
                          type: integer
                          example: 277
                        concept_frequency:
                          type: integer
                          example: 0.0001547113516242737
                        concept_id:
                          type: integer
                          example: 192855
                        dataset_id:
                          type: integer
                          example: 1
  /frequencies/associatedConceptDomainFreq:
    get:
      tags:
        - Clinical Frequencies
      summary: Clinical frequencies of all pairs of concepts given a concept id
      description: >-
        Retrieves observed clinical frequencies of all pairs of concepts given a concept id restricted by domain of the associated concept_id.  Results are returned in descending order of paired concept count. Note that the largest paired concept counts are often dominated by associated concepts with high prevalence.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: concept_id
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
        - name: domain
          in: query
          required: true
          schema:
            type: string
          description: 'An OMOP domain id, e.g., "Condition", "Drug", "Procedure", etc. See /metadata/domainCounts for a list of valid domain IDs.'
          example: Procedure
      operationId: associatedConceptDomainFreq
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of associated concept frequencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        associated_concept_id:
                          type: integer
                          example: 2211361
                        associated_concept_name:
                          type: string
                          example: "Radiologic examination, chest, 2 views, frontal and lateral"
                        associated_domain_id:
                          type: string
                          example: "Procedure"
                        concept_count:
                          type: integer
                          example: 257
                        concept_frequency:
                          type: integer
                          example: 0.00014354085692216007
                        concept_id:
                          type: integer
                          example: 192855
                        dataset_id:
                          type: integer
                          example: 1
  /frequencies/mostFrequentConcepts:
    get:
      tags:
        - Clinical Frequencies
      summary: Most frequent concepts [by domain]
      description: Retrieves the most frequent concepts.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: q
          in: query
          required: false
          schema:
            type: integer
          description: '(Optional) The number of concepts to retreieve, e.g., 100. 0 or unspecified will return all matching concepts.'
          example: 100
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: '(Optional) The domain_id to restrict to, e.g., "Condition", "Drug", "Procedure". See /metadata/domainCounts for a list of valid domain IDs.'
          example: 'Condition'
        - name: vocabulary_id
          in: query
          required: false
          schema:
            type: string
          description: '(Optional) The vocabulary_id(s) to restrict to, e.g., "SNOMED", "MedDRA", "RxNorm", "ATC" etc. Comma separated to include multiple vocabularies, e.g., "SNOMED,MedDRA". Default: unrestricted'
          example:
        - name: concept_class_id
          in: query
          required: false
          schema:
            type: string
          description: '(Optional) The concept_class_id(s) to restrict to. concept_class_ids are specific to each vocabulary, e.g.,: [ATC](https://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System) {ATC 1st, ATC 2nd, ATC 3rd, ATC 4th, ATC 5th}; [MedDRA](https://en.wikipedia.org/wiki/MedDRA) {PT, HLT, HLGT, SOC}; [RxNorm](https://www.nlm.nih.gov/research/umls/rxnorm/docs/2015/appendix5.html) {Ingredient, Clinical Drug Form, Clinical Drug Comp, Clinical Drug}. Comma separated to include multiple concept_class_ids, e.g., "PT,HLT". Default: unrestricted'
          example:
      operationId: mostFrequentConcepts
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of most frequent concepts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_class_id:
                          type: string
                          example: "Clinical Finding"
                        concept_count:
                          type: integer
                          example: 233790
                        concept_frequency:
                          type: integer
                          example: 0.1305774978203572
                        concept_id:
                          type: integer
                          example: 320128
                        concept_name:
                          type: string
                          example: "Essential hypertension"
                        dataset_id:
                          type: integer
                          example: 1
                        domain_id:
                          type: string
                          example: "Condition"
                        vocabulary_id:
                          type: string
                          example: "SNOMED"
  /association/chiSquare:
    get:
      tags:
        - Concept Associations
      summary: Chi-square analysis on pairs of concepts
      description: >
        Returns the chi-square statistic and p-value between pairs of concepts. Results are returned in descending order of the chi-square statistic. Note that due to large sample sizes, the chi-square can become very large.
        
        
        The expected frequencies for the chi-square analysis are calculated based on the single concept frequencies and assuming independence between concepts. P-value is calculated with 1 DOF.


        This method has overloaded behavior based on the specified parameters:


        1) concept_id_1 and concept_id_2: Result for the pair (concept_id_1, concept_id_2)

        2) concept_id_1: Results for all pairs of concepts that include concept_id_1

        3) concept_id_1 and domain: Results for all pairs of concepts including concept_id_1 and where concept_id_2 belongs to the specified domain
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: concept_id_1
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
        - name: concept_id_2
          in: query
          required: false
          schema:
            type: integer
          description: >-
            An OMOP concept id, e.g., "2008271". If this parameter is specified, then the chi-square between concept_id_1 and concept_id_2 is returned. If this parameter is not specified, then a list of chi-squared results between concept_id_1 and other concepts is returned.
          example: 2008271
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP domain id, e.g., "Condition", "Drug", "Procedure", etc., to restrict the associated concept (concept_id_2) to. If this parameter is not specified, then the domain is unrestricted. See /metadata/domainCounts for a list of valid domain IDs.
          example: Drug
        - name: concept_class
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP concept_class_id, e.g., "Ingredient", to restrict the associated concept (concept_id_2) to. If this
            parameter is not specified, then the concept_class_id is unrestricted. Example useful usage would be to have
            domain="Drug" and concept_class="Ingredient"
          example: Ingredient
      operationId: chiSquare
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of concept pairs and chi-squared values.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        chi_square:
                          type: integer
                          example: 370026.1780081638
                        concept_2_domain:
                          type: string
                          example: "Procedure"
                        concept_2_name:
                          type: string
                          example: "Instillation of therapeutic substance into bladder"
                        concept_id_1:
                          type: integer
                          example: 192855
                        concept_id_2:
                          type: integer
                          example: 4021588
                        dataset_id:
                          type: integer
                          example: 3
                        p-value:
                          type: number
                          example: 0.0314
                        adj_p-value:
                          type: number
                          example: 0.0314
                          description: >-
                            Bonferonni adjusted p-value, adjusted with the total number of pairs of concepts in the
                            dataset.
      x-bte-kgs-operations:
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Condition
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/chi_square'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Drug
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/chi_square'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Condition
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/chi_square'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Drug
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/chi_square'
  /association/obsExpRatio:
    get:
      tags:
        - Concept Associations
      summary: Observed Count / Expected Count
      description: >
        Returns the natural logarithm of the ratio between the observed count and expected count. Expected count is calculated from the single concept frequencies and assuming independence between the concepts. Results are returned in descending order of ln_ratio.
        
        
        expected_count = Count_1_and_2 * num_visits / (Count_1 * Count_2)


        ln_ratio = ln(expected_count)
        

        This method has overloaded behavior based on the specified parameters:


        1) concept_id_1 and concept_id_2: Results for the pair (concept_id_1, concept_id_2)

        2) concept_id_1: Results for all pairs of concepts that include concept_id_1

        3) concept_id_1 and domain: Results for all pairs of concepts including concept_id_1 and where concept_id_2 belongs to the specified domain
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: concept_id_1
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
        - name: concept_id_2
          in: query
          required: false
          schema:
            type: integer
          description: >-
            An OMOP concept id, e.g., "2008271". If concept_id_2 is unspecified, then this method will return all pairs of concepts with concept_id_1.
          example: 2008271
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP domain id, e.g., "Condition", "Drug", "Procedure", etc., to restrict the associated concept (concept_id_2) to. If this parameter is not specified, then the domain is unrestricted. See /metadata/domainCounts for a list of valid domain IDs.
          example: Drug
        - name: concept_class
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP concept_class_id, e.g., "Ingredient", to restrict the associated concept (concept_id_2) to. If this
            parameter is not specified, then the concept_class_id is unrestricted. Example useful usage would be to have
            domain="Drug" and concept_class="Ingredient"
          example: Ingredient
        - name: confidence
          in: query
          required: false
          schema:
            type: number
          description: >-
            The confidence level used for calculating confidence intervals (default 0.99).
          example: 0.99
      operationId: obsExpRatio
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of paired concepts and observed-expected frequency ratio.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_2_domain:
                          type: string
                          example: "Procedure"
                        concept_2_name:
                          type: string
                          example: "Closed [transurethral] biopsy of bladder"
                        concept_id_1:
                          type: integer
                          example: 192855
                        concept_id_2:
                          type: integer
                          example: 2003784
                        dataset_id:
                          type: integer
                          example: 1
                        expected_count:
                          type: integer
                          example: 0.060838982345591645
                        ln_ratio:
                          type: integer
                          example: 7.561698473261244
                        observed_count:
                          type: integer
                          example: 117
      x-bte-kgs-operations:
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Condition
            confidence: 0.99
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/obs_exp_ratio'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Drug
            confidence: 0.99
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/obs_exp_ratio'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Condition
            confidence: 0.99
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/obs_exp_ratio'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Drug
            confidence: 0.99
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/obs_exp_ratio'
  /association/relativeFrequency:
    get:
      tags:
        - Concept Associations
      summary: Relative frequency between pairs of concepts
      description: >
        Calculates the relative frequency (i.e., conditional probability) between pairs of concepts. Results are returned in descending order of relative frequency. Note that due to the randomization of the counts, the calculated relative frequencies can exceed the limit of 1.0.


        Relative Frequency = Count_1_and_2 / Count_2


        This method has overloaded behavior based on the specified parameters:


        1) concept_id_1 and concept_id_2: Result for the pair (concept_id_1, concept_id_2)

        2) concept_id_1: Results for all pairs of concepts that include concept_id_1

        3) concept_id_1 and domain: Results for all pairs of concepts including concept_id_1 and where concept_id_2 belongs to the specified domain
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: concept_id_1
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
        - name: concept_id_2
          in: query
          required: false
          schema:
            type: integer
          description: >-
            An OMOP concept id, e.g., "2008271". If concept_id_2 is unspecified, then this method will return all pairs of concepts with concept_id_1.
          example: 2008271
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP domain id, e.g., "Condition", "Drug", "Procedure", etc., to restrict concept_id_2 (the base concept) to. If this parameter is not specified, then the domain is unrestricted. See /metadata/domainCounts for a list of valid domain IDs.
          example: Drug
        - name: concept_class
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP concept_class_id, e.g., "Ingredient", to restrict the associated concept (concept_id_2) to. If this
            parameter is not specified, then the concept_class_id is unrestricted. Example useful usage would be to have
            domain="Drug" and concept_class="Ingredient"
          example: Ingredient
        - name: confidence
          in: query
          required: false
          schema:
            type: number
          description: >-
            The confidence level used for calculating confidence intervals (default 0.99).
          example: 0.99
      operationId: relativeFrequency
      responses:
        default:
          description: Unexpected error
        '200':
          description: An array of paired concepts and relative frequency.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        concept_2_count:
                          type: integer
                          example: 82
                        concept_2_domain:
                          type: string
                          example: "Procedure"
                        concept_2_name:
                          type: string
                          example: "Radical cystectomy"
                        concept_id_1:
                          type: integer
                          example: 192855
                        concept_id_2:
                          type: integer
                          example: 2003805
                        concept_pair_count:
                          type: integer
                          example: 29
                        dataset_id:
                          type: integer
                          example: 1
                        relative_frequency:
                          type: integer
                          example: 0.35365853658536583
      x-bte-kgs-operations:
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Condition
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/relative_frequency'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Drug
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/relative_frequency'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Disease
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Condition
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/relative_frequency'
        - inputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          outputs:
          - id: biolink:OMOP
            semantic: biolink:Drug
          predicate: biolink:correlated_with
          source: Columbia Open Health Data KP
          supportBatch: false
          parameters:
            concept_id_1: "{inputs[0]}"
            dataset_id: 3
            domain: Drug
          response_mapping:
            $ref: '#/components/x-bte-kgs-response-mappings/relative_frequency'
  /translator/biolink_to_omop:
    post:
      tags:
        - translator
      summary: 'Map from Biolink to OMOP'
      description: >-
        Map Biolink CURIEs to OMOP concepts
      operationId: biolink_to_omop
      requestBody:
        description: List of CURIEs
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurieList'
            example: >-
              {
                  "curies": [
                      "HP:0002907",
                      "MONDO:0001187"
                  ]
              }
      responses:
        '200':
          description: >-
            OK. There may or may not be results. Note that some of the provided
            identifiers may not have been recognized.
          content:
            application/json:
              schema:
                additionalProperties:
                  description: Mapping from OMOP concept to Biolink
                  type: object
                  properties:
                    distance:
                      description: mapping distance
                      type: integer
                    omop_concept_id:
                      type: integer
                    omop_concept_name:
                      type: string
              example: >-
                {
                  "MONDO:0001187": {
                    "distance": 2,
                    "omop_concept_id": 197508,
                    "omop_concept_name": "Malignant tumor of urinary bladder"
                  }
                }
        '400':
          description: >-
            Bad request. The request is invalid according to this OpenAPI
            schema OR a specific identifier is believed to be invalid somehow
            (not just unrecognized).
          content:
            application/json:
              schema:
                type: string
        '500':
          description: >-
            Internal server error.
          content:
            application/json:
              schema:
                type: string
  /translator/omop_to_biolink:
    post:
      tags:
        - translator
      summary: 'Map from OMOP to Biolink'
      description: >-
        Map OMOP concepts to normalized Biolink nodes using SRI Node Normalizer.
      operationId: omop_to_biolink
      requestBody:
        description: List of OMOP IDs
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmopList'
            example: >-
              {
                  "omop_ids": [
                      78472,
                      197508
                  ]
              }
      responses:
        '200':
          description: >-
            OK. There may or may not be results. Note that some of the provided
            identifiers may not have been recognized.
            Mapping from OMOP concept to Biolink normalized nodes. See
            [SRI Node Normalizer](https://nodenormalization-sri.renci.org/docs#/) for response format
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example: >-
                  {
                    "197508": {
                      "equivalent_identifiers": [
                          {
                              "identifier": "MONDO:0001187",
                              "label": "urinary bladder cancer"
                          },
                          {
                              "identifier": "DOID:11054"
                          },
                          {
                              "identifier": "OMIM:109800"
                          },
                          {
                              "identifier": "UMLS:C0005684"
                          },
                          {
                              "identifier": "NCIT:C9334"
                          },
                          {
                              "identifier": "SNOMEDCT:399326009"
                          }
                      ],
                      "id": {
                          "identifier": "MONDO:0001187",
                          "label": "urinary bladder cancer"
                      },
                      "type": [
                          "biolink:Disease",
                          "biolink:DiseaseOrPhenotypicFeature",
                          "biolink:BiologicalEntity",
                          "biolink:NamedThing"
                      ]
                    }
                  }
        '400':
          description: >-
            Bad request. The request is invalid according to this OpenAPI
            schema OR a specific identifier is believed to be invalid somehow
            (not just unrecognized).
          content:
            application/json:
              schema:
                type: string
        '500':
          description: >-
            Internal server error.
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    CurieList:
      description: list of CURIEs
      type: object
      properties:
        curies:
          title: "list of CURIEs"
          type: array
          items:
            type: string
    OmopList:
      description: list of OMOP IDs
      type: object
      properties:
        curies:
          title: "list of OMOP IDs"
          type: array
          items:
            type: integer
  x-bte-kgs-response-mappings:
    chi_square:
      biolink:OMOP: results.concept_id_2
      biolink:name: results.concept_2_name
      biolink:has_count: results.n_c1_c2
      biolink:p_value: results.adj_p-value
      biolink:chi_squared_statistic: results.chi_square
    obs_exp_ratio:
      biolink:OMOP: results.concept_id_2
      biolink:name: results.concept_2_name
      biolink:has_count: results.observed_count
    relative_frequency:
      biolink:OMOP: results.concept_id_2
      biolink:name: results.concept_2_name
      biolink:has_count: results.concept_pair_count
      biolink:has_total: results.concept_2_count
      biolink:has_quotient: results.relative_frequency
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  securitySchemes: {}
  headers: {}
  links: {}
  callbacks: {}
security: []
